# gitignore file for the Intelligent AI Attendance System project
# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

.vscode/
.streamlit/


dist/